################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp
/.vs/Brunetons-Atmospheric-Scatter/v16/TestStore/0
/Library
/Logs
/obj/Debug
